/*.react-chatbot-kit-chat-bot-avatar-icon {*/
/*    fill: transparent;*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*}*/

.react-chatbot-kit-chat-bot-avatar-container .userIcon{
    width: 100%;
}


