/*.react-chatbot-kit-chat-bot-avatar-icon {*/
/*    fill: transparent;*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*}*/

.overlay-wrapper{
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: rgba(255,255,255, 0.7);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-direction: column;
}

.overlay-wrapper img{
  height: 10%;
}

.overlay-wrapper p{
  font-weight: 500;
  font-size: 16px;
  margin-top: -10px;
  font-family: "Open Sans", sans-serif;
}


