/*.react-chatbot-kit-chat-bot-avatar-icon {*/
/*    fill: transparent;*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*}*/

.image-wrapper{
  width: 100%;
  background-color: transparent;
  height: 150px;
}

.brandLogo{
  width: 100%;
}


